{
	"server": {
		"port": 8080,
		"first_probe_stream_port": 8090
	},
	"router": {
		"ip": "10.101.0.2",
		"address": 254,
		"model": "NK-3G72"
	},
	"probe": {
		"enabled": true,
		"router_destinations": [71, 72]
	},
	"salvos": []
}